.page-content {
    --background: url('../../assets/bg-1-landscape.jpg') no-repeat center center / cover;
}

.info-list {
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
}

.file-label {
    padding-bottom: 15px;
}

.submit-area {
    text-align: center;
    padding: 15px 0;
}
